extends layout/layout

block content
  div.home-container
    h1 Application pour étudiants

    div.home-title-button-container
      h3 Bienvenue sur l'application faite pour les étudiants !

      div.button-container
        a.btn.btn-primary(href="/evaluation/login") Se connecter
        a.btn.btn-secondary(href="/evaluation/users/register") S'inscrire
