extends layout/layout

block content
  div.register-container
    h1 Inscription à l'application
    form(action='/evaluation/users/register', method='post')
      div
        label(for='firstName') Prénom :
        input(type='text', id='firstName', name='firstName', placeholder='Prénom', required)
      div
        label(for='lastName') Nom de famille :
        input(type='text', id='lastName', name='lastName', placeholder='Nom de famille', required)
      div
        label(for='email') Email :
        input(type='email', id='email', name='email', placeholder='Entrez votre email', required)
      div
        label(for='password') Mot de passe :
        input(type='password', id='password', name='password', placeholder='Mot de passe', required)
      div
        label(for='confirmPassword') Confirmez le mot de passe :
        input(type='password', id='confirmPassword', name='confirmPassword', placeholder='Confirmez mot de passe', required)
      div
        button.btn.confirm-btn(type='submit') S'inscrire
